.env
notebooks/
scripts/test*

terraform/.terraform*
*borrao*

meu-projeto-lambda/

venv/
terraform/layers/python
*.zip

terraform/layers/aws_dependencies/python
terraform/layers/data_processing_dependencies/python
terraform/layers/minimal_dependencies/python