numpy==2.2.6
pandas==2.2.3
pyarrow==20.0.0
psycopg2==2.9.10
gitdb==4.0.12
GitPython==3.1.41
Jinja2==3.1.6
MarkupSafe==3.0.2
pydotenv==0.0.7
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
smmap==5.0.2
tzdata==2025.2